body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.tablero {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  justify-content: center;
  column-gap: 1em;
  row-gap: 1em;
  background: blue;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  background: red;
}

.posicion-1 {
  grid-column: 1;
  grid-row: 1;
}

.posicion-2 {
  grid-column: 2;
  grid-row: 1;
}

.posicion-3 {
  grid-column: 3;
  grid-row: 1;
}

.posicion-4 {
  grid-column: 1;
  grid-row: 2;
}

.posicion-5 {
  grid-column: 2;
  grid-row: 2;
}

.posicion-6 {
  grid-column: 3;
  grid-row: 2;
}

.posicion-7 {
  grid-column: 1;
  grid-row: 3;
}

.posicion-8 {
  grid-column: 2;
  grid-row: 3;
}
.posicion-9 {
  grid-column: 3;
  grid-row: 3;
}

.vacio {
  background: blue;
}
